{% extends 'base.html' %}

{% block body %} 



<div><center>
    <p style="padding-top: 50px; color: Red;"><b> Currently your MONTHLY limit is ₹ {{y}}</b></p>
<form action="/limitnum" method="POST">

    <p> <b>Set Limit Here so you receive mail when Expense Exceed This Limit</b></p> <br/>
    <input type="number" placeholder="Limt Amount" name="number" required/> <span> 
        <button class="btn btn-secondary" type="submit">Update</button>
    </span>
    



</form>
</center>
</div>
{% endblock %}