<center>
	<a style="color: white; font-size: 20dp;" href="/">Home</a>
	<a style="color: white; font-size: 20dp;"href="/uploader">Upload</a>
	<a style="color: white; font-size: 20dp;"href="/deletefile">Delete</a>
	<br><hr>
	</center>
<html>
	<head>
        <h1>IBM ASSIGNMENT 3</h1>
        <link rel="stylesheet" href="https://bucket-sathish.s3.us-east.cloud-object-storage.appdomain.cloud/style.css">
    </head>	
   <body>
	
      <form action = "/deletefile" method = "POST" >
   
		 <input type = "text" placeholder="Enter bucket name" name = "bucket" />
		 <br>
		 <br>
		 <input type = "text" placeholder="Enter file name" name = "filename" />
		 <br>
		 <br>
         <input type = "submit"/>
      </form>   
   </body>
</html>