body {
    background: rgb(148, 54, 54);
    font-weight: bold;
    color: rgb(255, 255, 255);
}
tr{
    align-items: center;
    vertical-align: middle;
    padding-right: 10px;
    width: max-content;
}
td{
    align-items: center;
    vertical-align: middle;
    padding: 10px 0;
}



